.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
.git
.github
.DS_Store
*.vsix
prepare-screenshots.sh
SCREENSHOTS_GUIDE.md
PUBLISHING.md
